
:root {
    --text-color: #faf0e6;
    --bg-color: #100c08;
    --main-color: #ae0c00;

    --normal-cursor: url('../img/cursor/evil\ normal.cur');
    --link-cursor: url('../img/cursor/evil\ link.cur');
}

* {
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
}

body {
    padding-top: .7em;

    cursor: var(--normal-cursor), auto;

    color: var(--text-color);
    background-color: var(--bg-color);

    font-family: "Shantell Sans", cursive;
    font-size: 18px;
    font-variation-settings:
        "BNCE" -70,
        "INFM" 100,
        "SPAC" 2;
    
    width: 100%;
    height: 100%;
}

a {
    cursor: var(--link-cursor), auto;

    text-decoration: none;
    color: #1e90ff;
    transition:
        font-weight .3s,
        color .3s,
        transform .3s;
}

a:hover {
    color: #6bb5ff;
    font-weight: bold;
    transform: scale(1.05);
}

a > img {
    transition: transform .3s;
}

a:hover > img {
    transform: scale(1.05);
}

*[thin] {
    font-weight: lighter;
}

header {
    margin-bottom: 8em;

    background-color: var(--main-color);
    display: flex;

    flex-flow: row wrap;

    align-items: center;
    justify-content: space-around;
}

.td-logo {
    margin: .2em 0;
}

header > nav {
    display: flex;
    width: 50%;
    flex-flow: row wrap;
    justify-content: space-between;
}

main {
    margin: 2em 4em;
}

.mod-title {
    display: flex;
    align-items: top;
    flex-flow: row wrap;
}

.mod-title > img {
    margin-inline: 1em;
    margin-bottom: 2em;
    height: 72px;
}

#mod-title-Title {
    margin: 0;
    margin-bottom: .2em;
}

.mod-title-info > p {
    font-size: small;
    display: inline-block;
    margin: 0;
}

.mod-title-info > p:not(:last-child) {
    padding-right: 1em;
    border-right: 1px solid var(--main-color);
}

.mod-title-info > p:not(:first-child) {
    padding-left: .5em;
}

.mod-review {
    margin: 2em 0;
}

.mod-review em {
    color: #c9c0bb;
    font-size: 1.25em
}

button:not([disabled]) {
    cursor: var(--link-cursor), auto;
}

button[disabled] {
    cursor: var(--normal-cursor), auto;
}

#download-button {
    overflow: hidden;

    background: transparent;
    border: 0;

    padding: 0;
    border-radius: 1em;
}